@media (max-height: 1440px) {
.container{
    width: 90%;
}
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .hero-general {
        flex-direction: column;
}
    .hero-general-text {
        padding: 40px 0;
    }
}

@media (max-width: 992px) {
.header-text{
    display: flex;
    padding-right: 0;
}
}

@media (max-width: 768px) {
    .now-block-img{
        padding: 10px 0;
    }
    .now-block-text-two{
        padding: 10px 0;
    }
    .header a{
        display: none;
    }
}

@media (max-width: 576px) {
  .footer-general{
     flex-wrap: wrap;
  }
    .hero-img{
        width: 90%;
    }
    .hero-general-text{
        width: 90%;
    }
    .hero-general-text-img{
        width: 90%;
    }
}

@media (max-width: 451px) {
    .swiper-slide{
        width: 90%;
    }
    .now-block-img img{
        width: 90%;
    }
    .now-block-text-two{
        width: 90%;
    }
}

@media (max-width: 425px) {

}

@media (max-width: 415px) {

}

@media (max-width: 380px) {
    .hero-general-text-img{
        flex-wrap: wrap;
        width: 90%;
    }
    .hero-general-text-img-two{
        padding: 10px 0;
    }
}

@media (max-width: 376px) {

}

@media (max-width: 320px) {

}
